@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  background-color: #f9faff;
}

h1 {
  margin: 0;
}

.title {
  padding: 40px 0 10px 0;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.container {
  font-family: "Lexend", sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 40px;
}

.wrapper {
  padding: 30px;
  margin: 0 auto;
  gap: 5px;
}

.wrapper>div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
}

/* ==== Grid-area ==== */

/* .box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.box2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.box4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
} */

/* refactoring */

/* .box1 {
  grid-column: 1/2;
  grid-row: 1/4;
}
.box2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.box3 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.box4 {
  grid-column: 2/4;
  grid-row: 3/4;
} */

/* refactoring */
/* .box1 {
  grid-column: 1;
  grid-row: 1/4;
}
.box2 {
  grid-column: 3;
  grid-row: 1/3;
}
.box3 {
  grid-column: 2;
  grid-row: 1;
}
.box4 {
  grid-column: 2/4;
  grid-row: 3;
} */

/* refactoring */
/* .box1 {
  grid-area: 1/1/4/2;
}
.box2 {
  grid-area: 1/3/3/4;
}
.box3 {
  grid-area: 1/2/2/3;
}
.box4 {
  grid-area: 3/2/4/4;
} */


/* ==== Grid starting from end ==== */

/* .box1 {
  grid-column-start: -1;
  grid-column-end: -2;
  grid-row-start: -1;
  grid-row-end: -4;
}
.box2 {
  grid-column-start: -3;
  grid-column-end: -4;
  grid-row-start: -1;
  grid-row-end: -3;
}
.box3 {
  grid-column-start: -2;
  grid-column-end: -3;
  grid-row-start: -1;
  grid-row-end: -2;
}
.box4 {
  grid-column-start: -2;
  grid-column-end: -4;
  grid-row-start: -3;
  grid-row-end: -4;
} */

/* ==== Grid-area with span ==== */

.box1 {
  grid-column: 1;
  grid-row: 1 / span 3;
}
.box2 {
  grid-column: 3;
  grid-row: 1/ span 2;
}
.box3 {
  grid-column: 2;
  grid-row: 1;
}
.box4 {
  grid-column: 2 span 2;
  grid-row: 3;
}

