@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  background-color: #f9faff;
}

h1 {
  margin: 0;
}

.title {
  padding: 40px 0 10px 0;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.container {
  font-family: "Lexend", sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 40px;
}

.wrapper {
  padding: 30px;
  margin: 0 auto;
  gap: 5px;
}

.wrapper {
  display: grid;
}

/* ==== Writing modes in grid layouts (writing-mode) ==== */

/* .wrapper{
display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
} 
  .wrapper > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}
  */

/* ==== Recording mode settings ==== */

/* .wrapper {
  display: grid;
  writing-mode: vertical-lr;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
} 
.wrapper > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
  }  
*/

/* ==== Aligning elements in a block or column along an axis (align-self and align-items) ==== */

/* align-items: end */

/* .wrapper {
  border: 1px solid #000;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  align-items: end;
}
.wrapper div {
  background: aquamarine;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0d5d43;
} */

/* align-self: end */

/* .wrapper {
  border: 1px solid #000;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
}
.wrapper div {
  display: grid;
  background: aquamarine;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0d5d43;
}
.wrapper div:nth-child(2),
div:nth-child(4) {
  align-self: end;
} */

/* ==== Aligning elements on an inline or line axis (justify-items and justify-self) ==== */

/* justify-items: center */

/* .wrapper {
  border: 1px solid #000;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  justify-items: center;
}
.wrapper div {
  display: grid;
  background: aquamarine;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0d5d43;
} */

/* justify-self: end; */

/* .wrapper {
  border: 1px solid #000;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  justify-items: start;
}
.wrapper div {
  display: grid;
  background: aquamarine;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0d5d43;
}
.wrapper div:nth-child(3),
div:nth-child(4),
div:nth-child(5) {
  justify-self: end;
} */

/* refactoring */

/* .wrapper{
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: 
  ". a a ."
  ". a a .";
}
.item1{
  grid-area: a;
  align-self: center;
  justify-self: center;
}
.wrapper>div{
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8d8;
  padding: 1em;
  color: #d9480f;
} */

/* ==== Aligning grid lines on a block or column axis (align-content and justify-content) ==== */

/* justify-content: end */

/* .wrapper{
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(2,200px);
  gap: 10px;
  justify-content: end;
}
.wrapper div {
  display: grid;
  background: aquamarine;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0d5d43;
} */

/* align-content: center */

/* .wrapper {
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  justify-content: end;
}
.wrapper div {
  display: grid;
  background: aquamarine;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0d5d43;
  align-content: center;
} */

/* ==== Alignment and auto margins ==== */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 100px);
  height: 500px;
  width: 500px;
  grid-gap: 10px;
  grid-template-areas:
    "a a b"
    "a a b"
    "c d d";
}
.item1 {
  grid-area: a;
  margin-left: auto;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.wrapper div {
  display: grid;
  background: aquamarine;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0d5d43;
  align-content: center;
}