@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  background-color: #f9faff;
}

h1 {
  margin: 0;
}

.title {
  padding: 40px 0 10px 0;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.container {
  font-family: 'Lexend', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 40px;
}

.wrapper {
  padding: 30px;
  margin: 0 auto;
  display: grid;
  gap: 5px;
}

.wrapper>div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

/* subgrid */

/* .wrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.item {
  display: grid;
  grid-template-rows: subgrid;
  grid-gap: 10px;
  border: 1px solid #ccc;
}

.sub-item {
  border: 1px solid #ccc;
  padding: 5px;
} */

/* position */

.wrapper {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 20px;
  position: relative;
}

.box3 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  position: absolute;
  top: 40px;
  left: 40px;
}