@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  background-color: #f9faff;
}

h1 {
  margin: 0;
}

.title {
  padding: 40px 0 10px 0;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.container {
  font-family: 'Lexend', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 40px;
}

.wrapper {
  display: grid;
  /* grid-template-columns: 200px 200px 200px; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: 2fr 1fr 1fr; */
  /* grid-template-columns: 500px 1fr 2fr; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-columns: 200px 200px 100px; */
  /* grid-template-columns: 200px 70px 20%; */
  /* grid-template-columns: repeat(4, 100px); */
  /* grid-template-columns: repeat(2, 1fr 2fr 150px); */
  /* grid-template-columns: 40px repeat(3, 1fr 30px) 100px; */
  grid-template-columns: 140px repeat(2, 60px 100px) 20%;
}

.wrapper {
  padding: 30px;
  width: 300px;
  margin: 0 auto;
  display: grid;
  gap: 5px;
}

.wrapper>div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}